{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4 card-accent">
      <h4 class="mb-3">Student Registration</h4>
      <form method="post">
        <div class="mb-2"><label>Name</label><input class="form-control" name="name" required></div>
        <div class="mb-2"><label>Email</label><input class="form-control" name="email" type="email" required></div>
        <div class="mb-2"><label>Admission Number</label><input class="form-control" name="admission_no" required></div>
        <div class="mb-2"><label>Password</label><input class="form-control" name="password" type="password" required></div>
        <button class="btn btn-royal-blue mt-2 w-100">Create Account</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
